@import url('assets/estilo/reset.css');
@import url('assets/estilo/varandimport.css');

body{
    
}
header{
    background-color: var(--fundoCabecalho);
}
.titulo{
    text-align: center;
}
h1{
    font-size: var(--tamanhoTituloH1);
}
h2{
    font-size: var(--tamanhoTituloH2);
}

#barraMenu{
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fundoMenu);
    color: var(--colorMenu);
    font-family: var(--fontMenu);
    height: 1.55rem;
}
#menu:hover{
    font-size: larger;
    transition: 0.3s ease-in-out;
}
li{
    box-shadow: var(--sombras);
    text-shadow: var(--sombras);
}
li:hover{
    color: var(--colorTitulo);
    font-size: 1.1em;
}
li a{
    color: var(--colorMenu);
    background-color: var(--fundoMenuItens);
    border-radius: 10px;
    padding: 0.2rem;
}
li a:hover{
    background-color: var(--fundoButtonHover);
    color: var(--colorMenu);
    padding: 5%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
article{
    background-color: var(--fundoPagina);
}
#imagemCentral{
    margin: auto;
    display: block;
    width: 70%;
}

footer{
    color: var(--colorMenu);
    text-align: center;
    background-color: var(--fundoMenu);
}