*{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
:root{
    --colorTitulo: black;
    --colorMenu: aliceblue;
    --colorTexto: black;
    --fundoCabecalho: rgba(0, 119, 255, 0.267);
    --fundoMenu: blue;
    --fundoMenuItens: blue;
    --fundoPagina: rgb(230, 230, 254);
    --fontTitulo: 'Times New Roman', Times, serif;
    --fontMenu: 'Times New Roman', Times, serif;
    --fontTexto: 'Times New Roman', Times, serif;
    --tamanhoTituloH1: 3em;
    --tamanhoTituloH2: 2em;
}

body{
    
}
header{
    background-color: var(--fundoCabecalho);
}
.titulo{
    text-align: center;
}
h1{
    font-size: var(--tamanhoTituloH1);
}
h2{
    font-size: var(--tamanhoTituloH2);
}

#barraMenu{
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--fundoMenu);
    color: var(--colorMenu);
    font-family: var(--fontMenu);
    
}
li a{
    color: var(--colorMenu);
    background-color: var(--fundoMenuItens);
}

article{
    background-color: var(--fundoPagina);
}
#imagemCentral{
    margin: auto;
    display: block;
    width: 70%;
}

footer{
    color: var(--colorMenu);
    text-align: center;
    background-color: var(--fundoMenu);
}