*{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
:root{
    --colorTitulo: black;
    --colorMenu: aliceblue;
    --colorTexto: black;
    --fundoCabecalho: rgba(0, 119, 255, 0.267);
    --fundoMenu: blue;
    --fundoMenuItens: rgb(4, 0, 255);
    --fundoPagina: rgb(230, 230, 254);
    --fundoButtonHover: rgb(11, 11, 145);
    --fontTitulo: 'Times New Roman', Times, serif;
    --fontMenu: 'Times New Roman', Times, serif;
    --fontTexto: 'Times New Roman', Times, serif;
    --tamanhoTituloH1: 3em;
    --tamanhoTituloH2: 2em;
    --sombras: 0px 0px 10px rgba(0, 0, 0, 0.311);
}

body{
    
}
header{
    background-color: var(--fundoCabecalho);
}
.titulo{
    text-align: center;
}
h1{
    font-size: var(--tamanhoTituloH1);
}
h2{
    font-size: var(--tamanhoTituloH2);
}

#barraMenu{
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fundoMenu);
    color: var(--colorMenu);
    font-family: var(--fontMenu);
    height: 1.55rem;
}
#menu:hover{
    font-size: larger;
    transition-duration: 400ms;
}
li{
    box-shadow: var(--sombras);
    text-shadow: var(--sombras);
}
li:hover{
    color: var(--colorTitulo);
    font-size: 1.1em;
}
li a{
    color: var(--colorMenu);
    background-color: var(--fundoMenuItens);
    border-radius: 10px;
    padding: 0.2rem;
}
li a:hover{
    background-color: var(--fundoButtonHover);
    color: var(--colorMenu);
    padding: 5%;
    border-radius: 10px;
    transition-duration: 200ms;
}
article{
    background-color: var(--fundoPagina);
}
#imagemCentral{
    margin: auto;
    display: block;
    width: 70%;
}

footer{
    color: var(--colorMenu);
    text-align: center;
    background-color: var(--fundoMenu);
}